.header_continer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    flex-direction: column;
}

.header_wraper {
    gap: 20px;
    display: flex;
    flex-direction: row;
}