.right_continer {
    height: 100%;
    text-align: center;
    background-color: rgb(201, 202, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right_wraper {
    gap: 20px;
    display: flex;
    flex-direction: row;
}